html, body, h1 {
    margin: 0;
    padding: 0;
}

.article {
    font-family:"lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
    font-size: 18px;
    line-height: 150%;
    box-sizing: border-box;
    width: 820px;
    margin: 4em auto;
    padding: 1.5em 4em;
    border: 1px solid LightGrey;
}

.title {
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, Helvetica, STKaiti, SimSun, serif;
    font-size: 1.5em;
    margin-top: 60px;
    margin-bottom: 40px;
    padding: 5px;
    border-bottom: 2px LightGrey solid;
    line-height: 150%;
    color: #666666;
}
