html,body,#__next
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  background-color: #CCBFB2

.container
  width: 100%
  height: 100%
  overflow: hidden
  background-color: #333333

  .white
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 336px
    background-color: #CCBFB2

  .title
    position: absolute
    left: 24px
    bottom: 24px
    margin: 0
    padding: 0
    font-size: 36px
    color: #76898B

  .nav
    position: absolute
    top: 24px
    right: 24px
    text-align: right
    color: #76898B

    h2,h3
      padding: 0
      margin: 0
      margin-bottom: 16px

    h2
      font-size: 30px

    h3
      font-size: 22px

  .logo
    position: absolute
    right: 16px
    bottom: 16px
    font-size: 60px
    writing-mode: tb
    letter-spacing: 10px
    color: #76898B

  .content-ctn
    position: absolute
    left: 0
    top: 0
    padding-top: 350px
    width: 100vw
    height: 100vh
    overflow-y: scroll
    box-sizing: border-box

    .content
      max-width: 1024px
      margin: 0 auto
