html,body,#__next
  height: 100%
  width: 100%
  padding: 0
  margin: 0
  background-color: #333333

.index-ctn
  color: #ccbfb2

  h3
    padding: 0
    margin: 0

  h3
    margin-bottom: 24px
    font-size: 30px

  span
    display: inline-block
    margin-left: 28px
